<ion-header>
  <ion-navbar color="twitter">
    <ion-title>
    {{user.name}} Details
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="login-box">
    <ion-card>
      <div id="homeCard" class="" >
         <ion-list class=""> <!--inline_width -->
          <ion-item>
            <ion-label> Hostel Name : <font class="lbl_font" >{{user.name}} </font></ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Phone : <font class="lbl_font" >{{user.phone}}</font></ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Email Id : <font class="lbl_font" >{{user.email}}</font></ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Fee :
              <font class="lbl_font" >{{user.hFee}}</font>
              <a href="javascript:" class="marginl5" (click)="edit = true;" >edit fee</a>
            </ion-label>
          </ion-item>
          <!-- <ion-item>
            <a href="javascript:" (click)="edit = true;" >edit fee</a>
          </ion-item> -->

        </ion-list>
        <ion-list>
          <ion-item *ngIf = "edit === true">
            <ion-input type="number" placeholder="Hostel Fee" name="hFee" [(ngModel)]="hFee" required></ion-input>
          </ion-item>
        </ion-list>
        <ion-list *ngIf = "edit === true">
          <ion-item >
            <button ion-button (click)="save();">
      				Save
      			</button>
            <button ion-button (click)="cancel();">
      				Cancel
      			</button>
          </ion-item>
        </ion-list>
      </div>
    </ion-card>
  </div>
</ion-content>
