page-about {

  .login-box {

      //background: rgba(51, 52, 156, 0.49);
      padding: 20px 20px 1px 20px;
      margin-top: 30px;
    background: #5165c6;//#898ff4; //#0493e5; //#5823eb; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ff7575, #5165c6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ff7575, #5165c6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff7575, #5165c6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff7575, #5165c6); /* Standard syntax */
    }
  .login-box input{
    outerline:0px none;
  }

  ion-label > font{
    font-size: 16px;
  }

  .marginl5{
    margin-left: 5%;
  }
}
