<ion-header>
  <ion-navbar color="twitter">
    <ion-title>
      New Guest
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div class="login-box">
    <ion-list>
    	<ion-item>
    		<ion-avatar>
		      <img [src]="person.base64Image" *ngIf="person.base64Image" width="100" height="100"/>
			    <a href="javascript:void(0);" (click)="takePhoto()">Take Photo</a> <!-- takePicture -->
		    </ion-avatar>
    	</ion-item>
    	<ion-item>
        <ion-label>Name:</ion-label>
    		<ion-input type="text"
    		[(ngModel)]="person.name" ></ion-input>
    	</ion-item>
    	<ion-item>
        <ion-label>Father Name:</ion-label>
    		<ion-input type="text"
    		[(ngModel)]="person.fName" ></ion-input>
    	</ion-item>
      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select [(ngModel)]="person.gender">
          <ion-option value="select" >--select--</ion-option>
          <ion-option value="m">Male</ion-option>
          <ion-option value="f">Female</ion-option>
        </ion-select>
    	</ion-item>
    	<ion-item>
    		<ion-input type="text" placeholder="address..."
    		[(ngModel)]="person.address" ></ion-input>
    	</ion-item>
    	<ion-item>
        <ion-label>PIN :</ion-label>
    		<ion-input type="number"
    		[(ngModel)]="person.pin" ></ion-input>
    	</ion-item>

    	<ion-item>
        <ion-label>Aadhar #</ion-label>
    		<ion-input type="number"
    		[(ngModel)]="person.aadharNo" ></ion-input>
    	</ion-item>
    	<ion-item>
        <ion-label>Phone #</ion-label>
    		<ion-input type="tel"  [attr.maxlength]="10"
    		[(ngModel)]="person.phone" ></ion-input>
    	</ion-item>
      <ion-item>
        <ion-label>Father Phone#</ion-label>
    		<ion-input type="tel" id="fphone" [attr.maxlength]="10"
    		[(ngModel)]="person.fphone"  ></ion-input>
        <!-- (keyup)="checkPhoneNuber($event, fphone)" -->
    	</ion-item>
      <ion-item>
        <ion-label>Occupation</ion-label>
        <ion-select [(ngModel)]="person.occupation" >
          <ion-option value="select" >--select--</ion-option>
          <ion-option value="student">Student</ion-option>
          <ion-option value="working">Working</ion-option>
          <ion-option value="non-working">Non Working</ion-option>
        </ion-select>
    	</ion-item>
      <ion-item *ngIf="person.occupation == 'student'">
        <ion-label>College </ion-label>
    		<ion-input type="text"
    		[(ngModel)]="person.occName" ></ion-input>
    	</ion-item>
      <ion-item *ngIf="person.occupation == 'working'">
        <ion-label>Organization </ion-label>
    		<ion-input type="text"
    		[(ngModel)]="person.occName" ></ion-input>
    	</ion-item>
      <ion-item >
        <ion-label>Joining Date </ion-label>
    		<ion-input type="date"
    		[(ngModel)]="person.joinDate" placeholder="dd/mm/yyyy"></ion-input>
    	</ion-item>
     <!-- <ion-item >
        <ion-label>Amount </ion-label>
    		<ion-input type="number"
    		[(ngModel)]="person.amount" ></ion-input>
    	</ion-item> -->
    </ion-list>
	<ion-list >
		<ion-item>
			<button ion-button (click)="addGuest();">
				<!-- <ion-icon ios="ios-add" md="md-add">
				</ion-icon> -->
        Save New Guest
			</button>
		</ion-item>
	</ion-list>
</div>
</ion-content>
