<ion-header>
  <ion-navbar color="twitter">
	<!--<div class="bar bar-header bar-positive"> -->
      <ion-title class="title">All Guests</ion-title>
	<!--</div> -->
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
  <ion-card>
    <ion-card-header>
      <!-- <ion-input type="text" placeholder="Id / Name" name="gid" [(ngModel)]="idorName" (ngModelChange)="search(idorName)" required></ion-input> -->
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="search()"></ion-searchbar>
    </ion-card-header>
    <div id="homeCard" class=""  *ngFor="let guest of guests">
      <ion-list class="inline_width">
        <ion-item>
          <ion-avatar>
            <img [src]="guest.base64Image" width="100" height="100" (click)="guestInfo(guest.guestId);" />
          </ion-avatar>
        </ion-item>
        <ion-item>
          <ion-label ><a (click)="openResionPop(guest.guestId);" >{{guest.name}}</a></ion-label>
        </ion-item>
        <ion-item>
          <ion-label >{{guest.phone}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-card>

</ion-content>
